@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(115, 78, 94);
  background: radial-gradient(
    circle,
    rgba(115, 78, 94, 1) 0%,
    rgba(96, 98, 122, 1) 100%
  );
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: xx-large;
  color: rgb(255, 233, 233);
}

p {
  color: rgb(255, 233, 233);
  font-family: "Jost", sans-serif;
  font-size: large;
}

.text-button {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin: 1rem;

  background: rgba(255, 255, 255, 0.066);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.text-button:hover {
  background: rgba(210, 210, 210, 0.385);
}

.selected {
  background: rgba(210, 210, 210, 0.385);
}

.icon-button {
  background: none;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon-button:hover {
  scale: 110%;
}

.icon {
  color: rgb(255, 233, 233);
  font-size: xx-large;
}

@media (min-width: 481px) {
  p {
    font-size: x-large;
  }
}
